<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.bepeaked.bodybook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bodybook"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="dk.bepeaked.bodybook.Activities.Main_act"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dk.bepeaked.bodybook.Activities.Login_act"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="dk.bepeaked.bodybook.Activities.AddUser_act"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4bf0953eae16cf7a039859dedbb585d27e597b54" />
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
</manifest>